# Absolute path and name of qcow2 image
# type: string
# required
ImageName: "/root/overcloud-full.qcow2"

# DeploymentType for your Deployment
# type: string
# required
#      ["vrs"]  --> VRS deployment
DeploymentType: ["vrs"]

# User name for RHEL Subscription
# type: string
# optional
RhelUserName: ''

# Password for the RHEL Subscription 
# type: string
# optional
RhelPassword: ''

# Pool to subscribe to for base packages
# type: string
# optional
RhelPool: ''

# URL for RHEL Satellite Server
# type: string
# optional
RhelSatUrl: ''

# Organization for RHEL Satellite Subscription
# type: string
# optional
RhelSatOrg: ''

# Activation key for RHEL Satellite Subscription
# type: string
# optional
RhelSatActKey: ''

# Absolute path and filename of RPM GPG Key(s)
# type: list
# optional
RpmPublicKey: []

# Absolute path and filename of Repo File
# type: string
# required
RepoFile: ''

# Log file name
# type: string
# optional
logFileName: "nuage_image_patching.log"

# If you are behind Proxy you can enter Proxy Server information here
# type: string
# optional
ProxyHostname: ''
ProxyPort: ''
