[nuage]
name=nuage_osp13_5.4.1.u4_nuage
baseurl=http://135.227.144.174/nuage_osp13_5.4.1/openstack
enabled=1
gpgcheck=1

[nuage_vrs]
name=nuage_osp13_5.4.1.u4_vrs
baseurl=http://135.227.144.174/nuage_osp13_5.4.1/vrs/
enabled=0
gpgcheck=1

[nuage_avrs]
name=nuage_osp13_5.4.1.u4_avrs
baseurl=http://135.227.144.174/nuage_osp13_5.4.1/avrs/
enabled=0
gpgcheck=1

[extra1]
name=satellite1
baseurl=http://satellite.com/repo
enabled=0
gpgcheck=1