FROM {{ nuage_docker_config['Registry'] }}/rhosp{{ nuage_docker_config['OSPD_Version'] }}/openstack-neutron-server:{{ nuage_docker_config['Release'] }}
LABEL description="Nuage Neutron Plugin"
LABEL version-release={{ nuage_docker_config['Release'] }}
LABEL summary="Nuage Neutron Plugin"
LABEL io.k8s.display-name="Nuage Neutron Plugin"
LABEL com.redhat.component="openstack-nuage-neutron-docker"
LABEL name="rhosp{{ nuage_docker_config['OSPD_Version'] }}/openstack-neutron-nuage"
LABEL version={{ nuage_docker_config['OSPD_Version'] }}
LABEL release={{ nuage_docker_config['Release'] }}
LABEL architecture="x86_64"

{% if nuage_docker_config['EnableProxy'] -%}
ENV http_proxy 'http://135.245.48.34:8000'
ENV https_proxy 'https://135.245.48.34:8000'
{%- endif %}

USER root

RUN yum-config-manager --disable \* > disable
RUN rm -f disable

COPY nuage.repo /etc/yum.repos.d/nuage.repo
RUN yum install nuage-openstack-neutron nuage-openstack-neutronclient -y && yum clean all

RUN rm -f /etc/yum.repos.d/nuage.repo

USER neutron
