FROM {{ nuage_docker_config['Registry'] }}/rhosp{{ nuage_docker_config['OSPD_Version'] }}/openstack-heat-api-cfn:{{ nuage_docker_config['Tag'] }}
LABEL description="Nuage Heat-Engine Plugin"
LABEL version-release={{ nuage_docker_config['Tag'] }}
LABEL summary="Nuage Heat-Engine Plugin"
LABEL io.k8s.display-name="Nuage Heat-Engine Plugin"
LABEL com.redhat.component="openstack-nuage-heat-api-cfn-docker"
LABEL name="rhosp{{ nuage_docker_config['OSPD_Version'] }}/openstack-heat-api-cfn-nuage"
LABEL version={{ nuage_docker_config['OSPD_Version'] }}
LABEL release={{ nuage_docker_config['Tag'] }}
LABEL architecture="x86_64"

{% if nuage_docker_config['EnableProxy'] -%}
ENV http_proxy 'http://135.245.48.34:8000'
ENV https_proxy 'https://135.245.48.34:8000'
{%- endif %}

USER root

RUN yum-config-manager --disable \* > disable
RUN rm -f disable

COPY nuage.repo /etc/yum.repos.d/nuage.repo
RUN yum -y install nuage-openstack-neutronclient && yum clean all
 
RUN rm -f /etc/yum.repos.d/nuage.repo
 
USER heat
